main.startscreen
	.startscreen_wrap
		fiqure.startscreen__fiqure
			img(src='static/img/logo-02.png' alt='Image')
			figcaption For Mac
		h2.startscreen__title An app that keeps your eyes healthy.
		p.startscreen__desc EyeLeo for Mac is an app that regulary reminds you to take a rest for your eyes, shows you simple eye exercises and prevents you from using Mac during these exercises. When you're working at a computer it's easy to forget about time. This leads to eye strain and other physical problems. EyeLeo guarantees you won't forget to take a break.
	.legs
		.leg.leg-01
		.leg.leg-02
		.leg.leg-03
		.leg.leg-04
		.leg.leg-05
		.leg.leg-06
section.skew
	.skew__border
	.skew__border.mod_bottom
	.skew__box
		.layout
			.skew__column.mod_widest
				h3.skew__title Features:
				p.skew__desc Screen blocking during break exercises. Short break with eye exercises. Visual explanation of every exercise. Notifications announcing a long break coming. Strict mode that doesn't allow skipping the breaks. <br>Customizable preferences.<br> and more...
			.skew__column.mod_spin
				img(src='static/img/del/pic-01.png' alt='computer').skew__img

	.skew__box
		.layout
			.skew__column
				.skew__logo
					img(src="static/img/logo.svg", alt="Logo")
					span EyeLeo
			.skew__column
				.skew__column_inner
					a(href="" target="").skew__btn Buy Now


