footer.footer
	.footer__info
		a(href="" target="").footer__link About us
		a(href="" target="").footer__link Contact Us
		.socio
			a(href="" target="" title='in facebook').footer__link
				i.share__icon.icon-facebook
			a(href="" target="" title='in google plus').footer__link
				i.share__icon.icon-g
			a(href="" target="" title='in twitter').footer__link
				i.share__icon.icon-tw

	.footer__license
		span.footer__copy &copy;Copyright 2016