header.header
	.header__wrap
		a(href="/" target="").header__logo
			img(src="static/img/logo.svg", alt="Logo")
			span EyeLeo
		nav.mob_wraper
			.toggler
			ul.header__list
				li.header__item
					a(href="" target="").header__link Features
				li.header__item
					a(href="" target="").header__link Community
				li.header__item
					a(href="" target="").header__link.header_btn Buy Now